/* Переменные */
/* /Переменные */
/* Footer */
.footer__form {
  background-color: #adc85a;
  padding: 30px 0;
}
.footer__form-ttl {
  font-size: 1.6em;
  line-height: 1em;
  color: #fff;
  font-weight: 600;
  margin-bottom: 25px;
  text-shadow: 2px 2px 3px #808080;
}
.footer__form-inputs-input {
  background-color: rgba(255,255,255,0.76);
  border: 1px solid #fff;
  font-style: italic;
  padding: 5px 13px;
  margin: 10px 10px;
}
.footer__form-inputs-input:focus {
  outline: none;
}
.footer__form-inputs-input_submit {
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  background-color: #9e1918;
  font-weight: 600;
  font-style: inherit;
  padding: 3px 22px;
  cursor: pointer;
  transition: 0.2s ease;
}
.footer__form-inputs-input_submit:hover {
  background-color: #8c100f;
}
footer {
  background-color: #2d2d2d;
  position: relative;
  padding: 40px 0 60px;
}
.footer__house-img {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  max-width: 352px;
}
.footer__ornament {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 40px;
  background-image: url("../images/footer__ornament.png");
  background-size: auto 100%;
  background-repeat: repeat-x;
}
.footer__txt {
  font-size: 18px;
  font-weight: 300;
  color: #d3d3d3;
  line-height: 20px;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__contacts-ttl {
  color: #d3d3d3;
  font-size: 20px;
  margin-bottom: 10px;
}
.footer__socials-ttl {
  margin-top: 10px;
}
.footer__contacts-row-right-row,
.footer__contacts-row-right-txt {
  color: #bbd766;
  font-size: 18px;
}
.footer__contacts-row {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
}
.footer__contacts-row-left {
  width: 30px;
  margin-right: 5px;
}
.footer__contacts-row-left-img {
  width: 20px;
}
.footer__socials-items {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.footer__socials-items-item {
  margin-right: 3px;
}
.footer__nav-item {
  font-size: 18px;
  font-weight: 300;
  color: #d3d3d3;
}
.footer__copyright {
  font-size: 16px;
  color: #d3d3d3;
  text-align: center;
  width: 100%;
}
.footer__separ {
  width: 100%;
  border-top: 1px solid #d3d3d3;
  margin: 30px 0 10px;
}
.navbar__navs-nav-a.footer__nav-item {
  display: block;
}
.scroll-to-top {
  z-index: 100;
  width: 42px;
  height: 42px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  text-align: center;
  background-color: #bbd766;
}
.scroll-to-top:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  transform: rotate(135deg) translate(21%, 50%);
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
}
/* /Footer */
/* Header Главная */
.header__main {
  min-height: 720px;
  width: 100%;
  background-image: url("../images/main__slider.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.header__main .navbar {
  flex-grow: 0;
  position: relative;
  z-index: 10;
}
.main__slider {
  position: relative;
  flex-grow: 1;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main__slider-txt {
  font-size: 24px;
}
.main__slider-txt-row-1 {
  color: #bbd766;
  font-size: 5em;
  line-height: 1em;
  font-family: 'Roboto Black', sans-serif;
  text-shadow: 7px 4px 20px rgba(0,0,0,0.702);
}
.main__slider-txt-row-2 {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  padding: 5px 12px;
  background-color: rgba(0,0,0,0.188);
  display: inline-block;
  line-height: 1em;
  text-transform: uppercase;
}
.main__slider-txt-row-3 {
  font-size: 5em;
  line-height: 1em;
  font-family: 'Roboto Black', sans-serif;
  color: #fff;
  text-shadow: 7px 4px 20px rgba(0,0,0,0.702);
  margin-top: -20px;
}
.main__slider-txt-row-3-span {
  color: #bbd766;
  padding-left: 25px;
}
/* адаптация */
@media screen and (max-width: 500px) {
  .main__slider-txt {
    font-size: 16px;
  }
}
/* /адаптация */
/* /Header Главная */
.title-left {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
}
.title-left__text {
  flex-grow: 0;
  padding-right: 10px;
}
.title-left__line {
  flex-grow: 1;
  position: relative;
}
.title-left__line:before {
  content: '';
  position: absolute;
  top: 60%;
  transform: translateY(-50%);
  border-top: 1px solid #959595;
  left: 0;
  width: 100%;
  height: 2px;
}
.block-pic-top {
  height: 100%;
  background-color: #f3f3f3;
  box-shadow: 4px 4px 3px rgba(128,128,128,0.42);
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.block-pic-top__pic {
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 0;
}
.block-pic-top__cntnt {
  position: relative;
  padding: 15px 15px 35px 20px;
  flex-grow: 1;
}
.block-pic-top__cntnt-ttl {
  font-size: 20px;
  line-height: 20px;
  color: #262626;
  font-weight: 600;
}
.block-pic-top__cntnt-txt {
  color: #000;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 20px;
}
.block-pic-top__cntnt-href {
  text-align: right;
  position: absolute;
  right: 0;
  width: 100%;
  padding-right: 15px;
  bottom: 10px;
}
.block-pic-top__cntnt-href-a {
  font-size: 16px;
  font-weight: 400;
  color: #000;
  outline: none;
}
.block-pic-top__cntnt-href-a:hover {
  color: #000;
}
.block-pic-top__cntnt-href-a:active {
  color: #000;
}
.block-pic-left {
  min-height: 293px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  background-color: #f3f3f3;
  box-shadow: 4px 4px 3px rgba(128,128,128,0.42);
}
.block-pic-left__pic {
  width: 100%;
  max-width: 370px;
  background-repeat: no-repeat;
  background-size: cover;
  flex-shrink: 0;
}
.block-pic-left__cntnt {
  padding: 20px 20px 35px 30px;
  position: relative;
  flex-shrink: 1;
}
.block-pic-left__cntnt-ttl {
  font-size: 20px;
  line-height: 20px;
  color: #262626;
  font-weight: 600;
}
.block-pic-left__cntnt-txt {
  color: #000;
  font-size: 18px;
  line-height: 22px;
  font-weight: 300;
  margin-top: 15px;
  margin-bottom: 20px;
}
.block-pic-left__cntnt-href {
  text-align: right;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-right: 15px;
  bottom: 10px;
}
.block-pic-left__cntnt-href-a {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}
.block-pic-left__cntnt-href-a:hover {
  color: #000;
}
.adv-banner {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 250px;
  background-image: url("../images/main__banner-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.adv-banner:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  opacity: 0.78;
  background-color: #082f08;
}
.adv-banner__txt {
  position: relative;
  color: #fff;
  font-size: 24px;
  line-height: 24px;
  z-index: 20;
}
.utp1 {
  background-image: url("../images/main__form-1.jpg");
  background-size: cover;
  text-align: center;
  padding: 70px 10px;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}
.utp1__ttl {
  font-size: 3em;
  line-height: 1em;
  color: #fff;
  font-weight: 600;
  margin: auto;
  max-width: 950px;
}
.utp1__txt {
  padding: 40px 0;
  max-width: 900px;
  margin: auto;
  font-weight: 300;
}
@media screen and (max-width: 550px) {
  .utp1__ttl {
    font-size: 1.8em;
  }
}
.red-btn {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
  border: 2px solid rgba(255,255,255,0.9);
  background-color: rgba(131,0,0,0.62);
  padding: 2px 20px 8px;
  cursor: pointer;
  transition: 0.2s ease;
}
.red-btn:focus {
  outline: none;
}
.red-btn:hover {
  border: 2px solid #fff;
  background-color: #830000;
}
.adv-full-width {
  height: 250px;
  background-color: #93cac4;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-weight: 600;
  color: #fff;
}
.title-center {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.title-center__line-text {
  flex-grow: 0;
  padding: 0 10px;
}
.title-center__line-left {
  position: relative;
  flex-grow: 1;
}
.title-center__line-left:before {
  content: '';
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  border-top: 1px solid #959595;
  left: 0;
  width: 100%;
  height: 2px;
}
.title-center__line-right {
  position: relative;
  flex-grow: 1;
}
.title-center__line-right:before {
  content: '';
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  border-top: 1px solid #959595;
  left: 0;
  width: 100%;
  height: 2px;
}
.main__seo-txt-more-btn {
  color: #739214;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  display: inline-block;
  width: 180px;
  height: 24px;
  position: relative;
}
.main__seo-txt-more-btn-show,
.main__seo-txt-more-btn-hide {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main__seo-txt-more-btn-show:hover,
.main__seo-txt-more-btn-hide:hover {
  text-decoration: underline;
}
.header__simple {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.simple__slider {
  position: relative;
}
.simple__slider:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(41,41,41,0.749);
}
.simple__slider-ttl {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
}
.simple__slider-ttl-left,
.simple__slider-ttl-right {
  position: relative;
  flex-grow: 1;
}
.simple__slider-ttl-left:before,
.simple__slider-ttl-right:before {
  content: '';
  position: absolute;
  height: 1px;
  width: 100%;
  border: 1px solid #bbd766;
  top: 54%;
  transform: translateY(-50%);
}
.simple__slider-ttl-txt {
  flex-grow: 0;
  color: #bbd766;
  font-size: 3.6em;
  line-height: 1em;
  font-weight: 700;
  padding: 50px 30px;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .simple__slider-ttl-txt {
    font-size: 2em;
  }
}
@media screen and (max-width: 380px) {
  .simple__slider-ttl-txt {
    font-size: 1.5em;
  }
}
.breabcrumbs {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  font-size: 12px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
a.breabcrumbs__item {
  color: #7d7d7d;
}
a.breabcrumbs__item:hover {
  color: #7d7d7d;
}
.breabcrumbs__separ {
  margin: 0 10px;
}
.breabcrumbs__item-current {
  color: #8da937;
}
.side-menu {
  box-shadow: 4px 4px 3px rgba(128,128,128,0.42);
}
.side-menu__item {
  position: relative;
  font-size: 18px;
  color: #494949;
  background-color: #f8f8f8;
  padding: 10px 20px;
  display: block;
  border-bottom: 1px solid #bbd766;
  transition: 0.2s ease;
}
.side-menu__item:last-child {
  border-bottom: none;
}
.side-menu__item:hover {
  text-decoration: none;
  color: #494949;
  background-color: #888;
  color: #fff;
}
.side-menu__item:before {
  content: '';
  position: absolute;
  background-color: transparent;
  height: 100%;
  width: 10px;
  top: 0;
  left: 0;
  transition: 0.2s ease;
}
.side-menu__item:hover:before {
  background-color: #bbd766;
}
.utp2 {
  background-image: url("../images/utp2-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  position: relative;
  padding: 40px 0;
}
.utp2:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.478);
}
.utp2__ttl {
  font-size: 46px;
  line-height: 42px;
  font-weight: 600;
}
.utp2__ttl-yellow {
  color: #ff0;
}
.utp2__txt {
  font-size: 18px;
  line-height: 18px;
  margin: 20px 0;
}
.utp2__btn .red-btn {
  background-color: rgba(212,0,0,0.561);
}
.utp2__btn .red-btn:hover {
  background-color: #d40000;
}
@media screen and (max-width: 750px) {
  .utp2__ttl {
    font-size: 36px;
    line-height: 36px;
  }
}
.pagination {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}
.pagination__item {
  color: #8c8c8c;
  font-size: 22px;
  padding: 0 8px;
}
.pagination__item:hover {
  color: #8c8c8c;
}
.pagination__item.pagination__item-current {
  background-color: #bbd766;
  border-radius: 50%;
  color: #000;
  height: 33px;
  width: 33px;
  text-align: center;
}
.big-red-button {
  background-color: #a00000;
  color: #fff;
  text-align: center;
  padding: 8px 0;
  font-size: 18px;
  cursor: pointer;
}
.catalog {
  padding-left: 0px;
}
.catalog ul {
  padding-left: 0;
  list-style-type: none;
  border: 1px solid rgba(136,136,136,0.369);
  border-top: none;
}
#sideMenu {
  box-shadow: 4px 4px 3px rgba(128,128,128,0.42);
}
.catalog-item {
  overflow: hidden;
  border-bottom: 1px solid #bbd766;
}
.catalog-item:last-child {
  border-bottom: 0;
}
.catalog-item:first-child {
  border-bottom: 1px solid #bbd766;
}
.catalog-item__ttl,
.catalog-menu__link {
  position: relative;
  background-color: #f8f8f8;
  cursor: pointer;
  padding: 20px;
  transition: 0.2s ease;
  font-size: 18px;
  color: #494949;
  line-height: 1em;
}
.catalog-item__ttl:hover,
.catalog-menu__link:hover,
.catalog-menu__link.active {
  background-color: #888;
  color: #fff;
  text-decoration: none;
}
.active > .catalog-item__ttl {
  background-color: #888;
  color: #fff;
}
.active > .catalog-item__ttl:before {
  background-color: #bbd766;
}
.catalog-item__ttl:before,
.catalog-menu__link:before {
  position: absolute;
  content: '';
  background-color: transparent;
  height: 100%;
  width: 10px;
  top: 0;
  left: 0;
  transition: 0.2s ease;
}
.catalog-item__ttl:hover:before,
.catalog-menu__link:hover:before,
.catalog-menu__link.active:before {
  background-color: #bbd766;
  text-decoration: none;
}
.catalog-item__ttl:after {
  content: '';
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-70%) rotate(-135deg);
  border-left: 1px solid #808080;
  border-top: 1px solid #808080;
  height: 10px;
  width: 10px;
  transition: 0.2s ease;
}
.catalog-item__ttl:hover:after,
.active > .catalog-item__ttl:after {
  border-color: #fff;
}
.catalog-item__cntnt {
  background-color: #fff;
  padding: 7px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-left: 1px solid #f8f8f8;
}
.catalog-item__cntnt-wrap {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height 0.2s ease;
}
.catalog-menu__cntnt {
  padding-left: 15px;
}
.catalog-menu__link {
  display: block;
  border-bottom: 1px solid #bbd766;
}
.catalog-menu__ttl {
  padding: 5px 0;
}
.catalog-menu__link_parent-label {
  position: relative;
}
.catalog-menu__link_parent-label:after {
  content: '';
  position: absolute;
  right: 20px;
  top: 24px;
  height: 10px;
  width: 10px;
  border: 2px solid #bbd766;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
  transition: 0.2s ease;
}
.catalog-menu__link_parent-label:hover:after {
  border-color: #fff;
}
.modal-dialog {
  max-width: 800px !important;
}
.modal-content {
  background-color: #adc85a;
  background-image: url("../images/modal__bg-image.png");
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}
.modal-content__form-cols {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
}
.modal-content__form-cols-col {
  width: 50%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
#orderDoska .modal-content__form-cols-col:first-child {
  width: 40%;
}
#orderDoska .modal-content__form-cols-col:last-child {
  width: 60%;
}
.modal-content__form-cols-col-input,
.modal-content__form-cols-col-textarea {
  padding: 8px 13px;
  font-style: italic;
  margin: 7px 0;
  border: none;
  background-color: rgba(255,255,255,0.659);
  transition: 0.2s ease;
}
.modal-content__form-cols-col-input:focus,
.modal-content__form-cols-col-textarea:focus {
  outline: none;
  background-color: #fff;
}
.modal-content__form-cols-col-textarea {
  flex-grow: 1;
}
.modal-content__form-cols-col-file {
  position: relative;
  background-color: #446c1e;
  color: #fff;
  font-style: italic;
  font-weight: 300;
  padding: 8px;
  margin: 7px 0;
  padding-left: 40px;
  cursor: pointer;
  transition: 0.2s ease;
}
.modal-content__form-cols-col-file:hover {
  background-color: #39581b;
}
.modal-content__form-cols-col-file:before {
  content: '';
  position: absolute;
  background-image: url("../images/modal__skrepka.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 4px;
  bottom: 4px;
  left: 14px;
  width: 15px;
}
.modal-content__form-submit .red-btn {
  background-color: #830000;
}
.modal-content__form-submit {
  text-align: center;
}
.modal-content__title {
  font-size: 30px;
  line-height: 1em;
  font-weight: 600;
  color: #fff;
  text-shadow: 1px 1px 5px #808080;
}
@media screen and (max-width: 575px) {
  .modal-content__form-cols-col {
    width: 100%;
  }
}
.modal-content.modal-content_laws {
  background-image: none;
  background-color: #fff;
  padding: 25px;
  border: 3px solid #bbd766;
  display: block;
}
.modal-content.modal-content_laws:after {
  content: '';
  display: table;
  clear: both;
}
.modal-content__img {
  height: 200px;
  width: 140px;
  background-image: url("../images/modal4__img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  float: left;
  margin: 0 20px 20px 0;
}
.modal-content__ttl {
  color: #464646;
  font-weight: 600;
  font-size: 16px;
  line-height: 1em;
}
.modal-content__intro {
  color: #505050;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.3em;
  margin: 10px 0;
}
.modal-content__txt {
  color: #000;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.2em;
}
/* Главное меню */
.navbar {
  width: 100%;
  background-color: rgba(45,45,45,0.9);
}
.navbar__navs {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 620px;
  flex-wrap: wrap;
  padding: 10px;
}
@media screen and (max-width: 768px) {
  .navbar__navs {
    width: initial;
  }
}
.navbar__navs-nav-a {
  color: #d3d3d3;
  transition: 0.2s ease;
}
.navbar__navs-nav-a:hover,
.navbar__navs-nav-a.active {
  text-decoration: none;
  color: #9fbd55;
}
.navbar__contacts {
  padding-right: 10px;
}
.navbar__contacts-phone {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}
.navbar__contacts-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #bbd766;
  font-size: 16px;
}
.navbar__contacts-item-txt {
  padding-left: 8px;
}
.navbar__search {
  position: relative;
  min-width: 36px;
  height: 30px;
  background-color: rgba(45,45,45,0.639);
}
.navbar__search-input {
  position: absolute;
  background-color: transparent;
  border: 1px solid #d3d3d3;
  height: 100%;
  width: 36px;
  top: 0;
  right: 0;
  transition: 0.2s ease;
  color: transparent;
  padding-left: 10px;
  border-radius: 2px;
}
.navbar__search-input:focus {
  background-color: #2d2d2d;
  outline: none;
  width: 200px;
  color: #fff;
}
.navbar__search:before {
  content: '';
  position: absolute;
  top: 3px;
  bottom: 3px;
  right: 3px;
  left: 3px;
  background-image: url("../images/navbar__search.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.navbar__navs-separ {
  width: 1px;
  background-color: #fff;
  margin: 4px 0;
}
.navbar__navs-more {
  color: #d3d3d3;
  position: relative;
}
.navbar__navs-more-navs {
  position: absolute;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  background-color: rgba(45,45,45,0.9);
  min-width: 240px;
  right: -20px;
  top: 100%;
  padding: 20px;
  opacity: 0;
  top: -1000px;
  transition: opacity 0.2s ease;
}
.navbar__navs-more:hover .navbar__navs-more-navs {
  opacity: 1;
  top: 100%;
}
.navbar__navs-nav-a-more {
  padding: 5px 0;
}
.navbar__navs-nav {
  position: relative;
}
.navbar__navs-nav-inner {
  position: absolute;
  top: -1000px;
  opacity: 0;
  background-color: rgba(0,0,0,0.6);
  padding: 10px 0px;
  left: -30px;
  right: -30px;
  transition: opacity 0.2s ease;
  z-index: 20;
}
.navbar__navs-nav:hover .navbar__navs-nav-inner {
  opacity: 1;
  top: 100%;
  transition: opacity 0.2s ease;
}
.navbar__navs-inner-a {
  display: block;
  color: #d3d3d3;
  transition: 0.2s ease;
  padding: 4px 20px;
  line-height: 1em;
}
.navbar__navs-inner-a:hover {
  color: #9fbd55;
  text-decoration: none;
}
.navbar__navs-nav_inner-label {
  position: relative;
  width: 6px;
  height: 6px;
  display: inline-block;
  padding: 9px 6px;
}
.navbar__navs-nav_inner-label:before {
  position: absolute;
  content: '';
  border: 1px solid #bbd766;
  width: 6px;
  height: 6px;
  border-left: none;
  border-top: none;
  transform: rotate(45deg);
}
.about__header-bg {
  background-image: url("../images/header__about.jpg");
}
.about__header-bg .simple__slider:before {
  opacity: 0.25;
}
.about__cooperation {
  border-right: 1px solid #e1e1e1;
  padding-bottom: 20px;
  height: 100%;
}
.about__cooperation-ttl,
.about__support-ttl {
  color: #474747;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}
.about__cooperation-txt,
.about__support-txt {
  font-size: 18px;
  font-weight: 300;
  color: #0f0f0f;
}
.about__support-txt {
  margin-bottom: 20px;
}
.about__support-form iframe {
  border: 0;
  box-shadow: 0 0 10px 0px rgba(128,128,128,0.71);
}
@media screen and (max-width: 991px) {
  .about__cooperation {
    border-right: none;
  }
}
.buro-parent__we-do .title-center__line-text {
  font-size: 30px;
  font-weight: 600;
}
.buro-parent__we-do-items-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
.buro-parent__we-do-items-item-icon {
  margin-right: 40px;
}
.buro-parent__we-do-items-item-txt {
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
}
.buro-parent__we-do-items-item-txt strong {
  font-weight: 600;
}
@media screen and (max-width: 450px) {
  .buro-parent__we-do-items-item {
    flex-direction: column;
    margin-bottom: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d3d3d3;
  }
  .buro-parent__we-do-items-item-icon {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.buro__preimusch {
  background-color: #9eb45a;
  padding: 30px 0;
}
.buro__preimusch-ttl {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.buro__preimusch-ttl-txt {
  flex-grow: 1;
}
.buro__preimusch-ttl-icon {
  flex-basis: 183px;
  position: relative;
}
.buro__preimusch-ttl-icon-img {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  left: 0;
}
.buro__preimusch-ttl .title-left {
  padding-right: 40px;
}
@media screen and (max-width: 992px) {
  .buro__preimusch-ttl .title-left {
    padding-right: 0;
  }
}
.buro__preimusch-ttl .title-left__text {
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  color: #fff;
}
.buro__preimusch-ttl .title-left__line:before {
  border-color: #fff;
}
.buro__preimusch-items-item-txt {
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
}
.buro__preimusch-items {
  padding-top: 10px;
  max-width: 900px;
}
.buro__preimusch-items-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.buro__preimusch-items-item-icon {
  margin-right: 30px;
}
.buro__prices-ttl .title-left__text {
  font-size: 30px;
  color: #494949;
  font-weight: 600;
}
.buro__prices-item {
  box-shadow: 4px 4px 3px rgba(128,128,128,0.42);
  background-color: #f3f3f3;
  height: 100%;
}
.buro__prices-spec-prop {
  box-shadow: 4px 4px 3px rgba(128,128,128,0.42);
  background-color: #f3f3f3;
  padding: 20px 60px 10px;
}
.buro__prices-item-ttl {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  background-color: #9eb45a;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  text-align: center;
}
.buro__prices-item-txt {
  color: #343434;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  padding: 30px 20px;
}
.buro__prices-item-special .buro__prices-item-ttl {
  background-color: #d3cc03;
  color: #234400;
  font-weight: 600;
  background-color: #d3cc03;
}
.buro__prices-spec-prop-ttl {
  color: #3b3b3b;
  font-size: 30px;
  line-height: 30px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}
.buro__prices-spec-prop-txt {
  font-size: 18px;
  line-height: 24px;
  color: #343434;
}
@media screen and (max-width: 1200px) {
  .buro__prices-item-ttl {
    font-size: 20px;
  }
}
@media screen and (max-width: 550px) {
  .buro__prices-spec-prop {
    padding: 20px 20px 10px;
  }
}
.doska-inner__description-photo {
  width: 100%;
  max-width: 300px;
  height: 200px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.doska-inner__description {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
}
.doska-inner__description-txt-row-ttl {
  display: inline-block;
  float: left;
  padding-right: 7px;
  color: #739214;
  font-size: 18px;
  font-weight: 600;
}
.doska-inner__description-txt {
  display: inline-block;
  padding-left: 25px;
  font-size: 18px;
  color: #343434;
}
.doska__header-bg {
  background-image: url("../images/doska__header-bg.jpg");
}
.doska__pagination {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
}
.doska__items {
  background-color: #fff;
  padding: 30px;
  padding-bottom: 20px;
  border: 1px solid #c4c4c4;
}
.doska__item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}
.doska__item-cntnt {
  padding: 0 20px 0 30px;
  width: 100%;
}
.doska__item-cntnt-ttl {
  color: #313334;
  font-size: 18px;
  font-weight: 600;
}
.doska__item-cntnt-cat {
  color: #a40000;
  font-size: 14px;
}
.doska__item-cntnt-txt {
  color: #5a5a5a;
  font-size: 14px;
}
.doska__item-cntnt-more-btn {
  color: #5a5a5a;
  font-size: 18px;
  font-weight: 600;
}
.doska__item-cntnt-more-btn:hover {
  color: #5a5a5a;
}
.doska__item-img {
  width: 80px;
  height: 80px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: 1px 0px 7px 2px rgba(128,128,128,0.722);
  flex-shrink: 0;
}
.doska .side-menu__item {
  background-color: #fff;
}
.doska .side-menu__item:hover {
  background-color: #888;
  color: #fff;
}
.doska__search-wrap {
  text-align: right;
}
.doska__search {
  border: 1px solid #c4c4c4;
  border-bottom: none;
  display: inline-block;
  width: 100%;
  max-width: 270px;
  padding-left: 20px;
  color: #698b00;
  font-size: 16px;
}
.doska__search:focus {
  outline: none;
}
@media screen and (max-width: 992px) {
  .doska__item {
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 20px;
  }
  .doska__item-cntnt {
    padding: 20px 0;
  }
}
.gos-standarts__adv-full-width-wrap {
  margin: 30px 0;
}
.gosstandarts__header-bg {
  background-image: url("../images/header__gosst.png");
}
.gos-standarts__items {
  border: 1px solid #c4c4c4;
  background-color: #fff;
}
.gos-standarts__item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  transition: 0.2s ease;
}
.gos-standarts__item:hover {
  background-color: rgba(196,196,196,0.3);
}
.gos-standarts__item-right {
  text-align: center;
  flex-basis: 180px;
}
.gos-standarts__item-left-row1 {
  font-size: 18px;
  line-height: 19px;
  color: #313334;
  font-weight: 600;
}
.gos-standarts__item-left-row {
  cursor: pointer;
}
.gos-standarts__item-left-row-number {
  margin-right: 10px;
}
.gos-standarts__item-left-row2 {
  color: #e20000;
  font-size: 18px;
}
.gos-standarts__item-left-row-number {
  font-weight: 600;
}
.gos-standarts__item-right-buy-price {
  font-size: 18px;
  line-height: 19px;
  color: #313334;
}
.gos-standarts__item-right-buy-btn {
  font-size: 18px;
  cursor: pointer;
  color: #e20000;
  font-weight: 600;
}
.gos-standarts__item-right-buy-btn:hover {
  text-decoration: underline;
}
.gos-standarts__item-right-download {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
}
.gos-standarts__item-right-download:hover {
  text-decoration: underline;
}
.gos-standarts__item-right-watch {
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  line-height: 18px;
}
.gos-standarts__item-right-watch:hover {
  text-decoration: underline;
}
@media screen and (max-width: 425px) {
  .gos-standarts__item {
    flex-direction: column;
    border-bottom: 1px solid #d3d3d3;
  }
  .gos-standarts__item:last-child {
    border-bottom: none;
  }
  .gos-standarts__item-right {
    flex-basis: inherit;
    margin-top: 10px;
  }
}
.gosustroy__header-bg {
  background-image: url("../images/header__gosustroy.png");
}
.gosustroy__intro {
  font-size: 20px;
  line-height: 24px;
  font-weight: 300;
}
.side-text-right__ttl {
  margin-bottom: 10px;
}
.side-text-right__ttl .title-left__text {
  font-size: 30px;
  color: #000;
  font-weight: 600;
}
.side-text-right_txt {
  font-size: 16px;
  color: #343434;
  font-weight: 300;
}
.holiday__text {
  background-color: #f3f3f3;
  box-shadow: 4px 4px 3px rgba(128,128,128,0.42);
  width: 100%;
  padding: 20px 30px;
}
.holidays__banner {
  background-image: url("../images/holiday__banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 60px 0;
}
.holidays__banner-cntnt {
  display: inline-block;
  max-width: 600px;
}
.holidays__banner-cntnt-ttl,
.holidays__banner-cntnt-txt {
  text-align: left;
}
.holidays__banner-cntnt-ttl {
  font-size: 50px;
  line-height: 0.9em;
  font-weight: 600;
  color: #fff;
  margin-bottom: 30px;
}
.holidays__banner-cntnt-txt {
  font-size: 20px;
  line-height: 1.1em;
  color: #fff;
  font-weight: 300;
}
.holiday__text-ttl {
  color: #4c4c4c;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}
.holiday__text-txt {
  color: #4c4c4c;
  font-size: 18px;
  line-height: 1.2em;
}
.holidays-main__labels-label-img {
  display: inline-block;
  width: 18px;
  height: 14px;
  margin-right: 15px;
}
.holidays-main__labels-label-img_green {
  background: #9eb45a;
}
.holidays-main__labels-label-img_red {
  background: #f00;
}
.holidays-main__labels-label {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}
.holidays-main__labels-label-img-txt {
  color: #191919;
  font-weight: 600;
  font-size: 12px;
  padding-bottom: 2px;
}
.holidays-main__labels {
  margin-bottom: 20px;
}
.header__holidays {
  background-image: url("../images/header__holidays2.jpg");
}
.doska-inner__description-txt-row {
  line-height: 1.1em;
  margin: 10px 0;
}
.trans__links-item {
  line-height: 1em;
  padding-left: 20px;
}
.kitaevedi__slider .kitaevedi__items-item {
  display: block;
  border-top: none;
  border: 1px solid #dadada;
}
.kitaevedi__slider .kitaevedi__items-item:focus {
  outline: none;
}
.kitaevedi__slider .trans-inner__slider-item-wrap {
  height: initial;
}
.kitaevedi__slider .kitaevedi__items-item-img {
  width: 190px;
  height: 190px;
}
.nii__slider-item-wrap {
  padding: 15px;
}
.kitaevedi__header-bg {
  background-image: url("../images/kitaevedi__header-bg.jpg");
}
.header_kitaevedi .simple__slider-ttl-txt {
  max-width: 900px;
}
.kitaevedi__items {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: nowrap;
}
.kitaevedi__items-ttl {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
.kitaevedi__items-item {
  text-align: center;
  padding: 30px 15px;
  border-left: 1px solid #dadada;
  border-top: 1px solid #dadada;
  background-color: transparent;
  transition: 0.2s ease;
  color: #000;
}
.kitaevedi__items-item:hover {
  background-color: rgba(187,215,102,0.21);
  color: #000;
  text-decoration: none;
}
.kitaevedi__items-item:first-child {
  border-left: none;
}
.kitaevedi__items-wrap .kitaevedi__items:last-child .kitaevedi__items-item {
  border-bottom: 1px solid #dadada;
}
.kitaevedi__items-item-img {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  box-shadow: 1px 0px 7px 2px rgba(128,128,128,0.722);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
}
.kitaevedi__items-item-ttl {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  padding: 15px 0;
}
.kitaevedi__items-item-descr {
  font-size: 20px;
  font-weight: 300;
  line-height: 20px;
}
.kitaevedi__inst-ttl .title-left__text {
  font-size: 24px;
  font-weight: 600;
  line-height: 1em;
}
@media screen and (max-width: 992px) {
  .kitaevedi__items-item:first-child {
    border-left: 1px solid #dadada;
  }
  .kitaevedi__items-item {
    border: 1px solid #dadada;
  }
}
@media screen and (max-width: 767px) {
  .kitaevedi__items-item,
  .kitaevedi__items-item:first-child {
    border: none;
  }
  .kitaevedi__items-item,
  .kitaevedi__items-item:first-child {
    border-bottom: 1px solid #dadada;
  }
  .kitaevedi__items-wrap .kitaevedi__items:first-child .kitaevedi__items-item:first-child {
    border-top: 1px solid #dadada;
  }
}
.header__holidays-bg {
  background-image: url("../images/header__holidays.jpg");
}
.bg-links {
  background-image: url("../images/links_bg.png");
  background-position: left bottom;
  background-repeat: no-repeat;
}
/* Главная */
.main__news {
  background-image: url("../images/main__bambuk-left.png");
  background-position: left center;
  background-repeat: no-repeat;
}
.main__news-ttl {
  margin: 30px 0;
}
.main__news-ttl .title-left {
  font-size: 30px;
  color: #494949;
}
.main__bg-bottom {
  background-image: url("../images/main__bambuk-left.png");
  background-position: left bottom;
  background-repeat: no-repeat;
}
/* Добро пожаловать */
.main__news-welcome {
  box-shadow: 4px 4px 3px rgba(128,128,128,0.42);
  background-color: #f3f3f3;
  padding: 40px;
  padding-top: 30px;
  height: 100%;
}
.main__news-welcome-ttl {
  color: #585858;
  font-size: 39px;
  font-weight: 600;
  display: inline-block;
  border-bottom: 1px solid #959595;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
.main__news-welcome-txt {
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
}
/* /Добро пожаловать */
/* Последние актуальные новости */
@media screen and (max-width: 768px) {
  .block-pic-left {
    flex-direction: column;
  }
  .block-pic-left__pic {
    height: 220px;
    max-width: inherit !important;
  }
}
/* /Последние актуальные новости */
.main__articles {
  color: #494949;
}
.main__articles .title-left {
  margin: 30px 0;
  font-size: 30px;
}
.seo-center,
.main-seo {
  margin-bottom: 50px;
}
.seo-center-ttl {
  margin: 50px 0;
}
.seo-center-ttl .title-center__line-text {
  font-size: 30px;
  color: #494949;
}
.main-seo-ttl {
  margin: 50px 0;
}
.main-seo-ttl .title-center__line-text {
  font-size: 30px;
  color: #494949;
}
.seo-center-txt,
.main-seo__text {
  font-size: 16px;
  font-weight: 300;
  color: #343434;
}
.main-seo__more {
  position: relative;
  color: #739214;
  font-size: 16px;
  cursor: pointer;
  font-weight: 600;
  display: inline-block;
  width: 180px;
  height: 24px;
  margin-top: 30px;
}
.main-seo__more-show,
.main-seo__more-hide {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.main-seo__text-wrap {
  position: relative;
  height: 250px;
  overflow: hidden;
  transition: 0.3s ease;
}
.main-seo__more-hide {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.2s ease;
}
.main-seo__more-show {
  opacity: 1;
  transition: 0.2s ease;
}
.main-seo.active .main-seo__more .main-seo__more-show {
  opacity: 0;
}
.main-seo.active .main-seo__more .main-seo__more-hide {
  opacity: 1;
}
.main-seo__text-grad {
  position: absolute;
  height: 100px;
  width: 100%;
  left: 0;
  bottom: 0;
  background: linear-gradient(to bottom, rgba(237,237,237,0), #fff);
  transition: 0.3s ease;
}
.main-seo.active .main-seo__text-grad {
  height: 1px;
}
/* /Главная */
.news__last-news .title-left__text {
  color: #494949;
  font-size: 30px;
  font-weight: 600;
}
.trans-inner__examples .title-left__text {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}
.trans-inner__slider-item-wrap {
  position: relative;
  height: 350px;
  width: 300px;
}
.trans-inner__slider-item {
  box-shadow: 4px 4px 3px rgba(128,128,128,0.42);
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #fff;
}
.trans-inner__slider-wrap {
  padding: 0 50px;
}
.trans-inner__slider button.slick-next.slick-arrow {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
}
.trans-inner__slider button.slick-prev.slick-arrow {
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%) rotate(90deg);
}
.trans-inner__slider button.slick-arrow {
  color: transparent;
  background-color: transparent;
  border: none;
  width: 35px;
  height: 35px;
  position: relative;
  cursor: pointer;
  font-size: 0;
}
.trans-inner__slider button.slick-arrow:focus {
  outline: none;
}
.trans-inner__slider button.slick-arrow:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-image: url("../images/slider-arrow.png");
  background-size: contain;
  background-position: center;
}
.trans-inner__slider ul.slick-dots {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  font-size: 0;
  padding: 0;
  justify-content: center;
  position: absolute;
  width: 100%;
  bottom: -50px;
  left: 0;
}
.trans-inner__slider .slick-dots button {
  width: 40px;
  height: 4px;
  margin: 0 3px;
  border: none;
  background-color: #c4c4c4;
  cursor: pointer;
}
.trans-inner__slider .slick-dots button:focus {
  outline: none;
}
.trans-inner__slider .slick-dots .slick-active button {
  background-color: #adc85a;
}
.trans__header-bg {
  background-image: url("../images/trans__header-bg.jpg");
}
.trans-item {
  margin-bottom: 20px;
}
.trans-item .block-pic-left {
  min-height: 170px;
}
.trans-item .block-pic-left__pic {
  max-width: 240px;
  flex-shrink: 0;
}
.trans-item .block-pic-left__cntnt {
  flex-shrink: 1;
}
.trans__links-items {
  background-color: #faffe9;
  border: 1px solid #bbd766;
  padding: 20px 0;
}
.trans__links-item {
  display: block;
  color: #000;
  font-size: 18px;
  font-weight: 600;
  padding: 2px 20px 2px 40px;
}
.trans__links-item:hover {
  color: #000;
}
.trans__links-ttl {
  font-size: 24px;
  line-height: 24px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  background-color: #adc85a;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  padding-bottom: 2px;
}
.trans__pagination {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;
}
@media screen and (max-width: 1200px) {
  .trans__links-item {
    padding: 2px 20px 2px 20px;
  }
}
@media screen and (max-width: 991px) {
  .doska-inner__description-txt {
    padding-left: 0;
  }
}
/* Общие стили */
.bg-grey {
  background-color: #f8f8f8;
}
.bg__right {
  background-image: url("../images/bg__right.png");
  background-position: right bottom;
  background-repeat: no-repeat;
}
.bg__right2 {
  background-image: url("../images/bg__right2.png");
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
}
.bg__left {
  background-image: url("../images/bg__left.png");
  background-position: left center;
  background-repeat: no-repeat;
}
/* /Общие стили */

/*# sourceMappingURL=style.css.map */
